@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

/* attrs */

body {
    height: 25em;
    font-family: Montserrat;
    color: white;
    background: #192d4f;
    padding: 3em;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.lang_change {
    display: none;
}

.title {
    display: flex;
    justify-content: space-between;
}

.nav_tab {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.important_text {
    font-weight: bold;
}

.logo {
    font-weight: bold;
    color: white;
}

.about {
    text-align: justify;
}

.social_list {
    display: flex;
    justify-content: center;
}

.social_img {
    width: 1.5em;
}

.social_tab {
    width: 100%;
    margin: 1px 1px 1px 1px;
}

.social_link {
    padding: 1em;
}

.buttons_tab {
    display: grid;
    gap: 1em;
    justify-items: center;
    padding: 1em;
    font-size: 0.8em;
}

.button_generic {
    border: none;
    background-color: #192d4f;
    color: white;
    border: solid white 1px;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 1em;
    border-radius: 5px;
    box-shadow: inset 0 0 1px 0 #192d4f;
    transition: 0.1s;
    outline: none;
}

.button_generic:active {
    box-shadow: inset 200px 0 0 0 #436db5;
    cursor: pointer;
    color: black;
}

/* mobile site */

.button_generic {
    width: 200px;
    height: 50px;
}

.logo {
    font-size: 2em;
}

.comment_text {
    font-size: 0.6em;
}

.main_text {
    font-size: 0.8em;
    text-align: left;
}

.CV_list {
    display: grid;
    justify-items: center;
    gap: 0.5em;
    padding: 1em;
}

.CV_list .button_generic {
    font-size: 1.4em;
}

/* desktop site */
@media only screen and (min-width: 850px) {

    body {
        height: 25em;
        padding: 10em;
    }

    .logo {
        font-size: 50px;
    }

    .main_text {
        font-size: 20px;
    }

    .comment_text {
        font-size: 0.6em;
    }

    .buttons_tab {
        display: flex;
        justify-content: space-around;
        padding: 2em;
        font-size: 1em;
    }

    .button_generic {
        width: 150px;
        height: 50px;
        box-shadow: inset 0 0 0 0 #192d4f;
        transition: ease-out 0.7s;
    }

    .button_generic:hover {
        box-shadow: inset 250px 0 0 0 #436db5;
        color: black;
    }

    .CV_tab {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        color: white;
    }

    .CV_list {
        display: flex;
        gap: 0;
        justify-content: left;
        padding: 1em;
    }

    .CV_list .button_generic {
        padding: 1em;
        margin: 0 1em 0 0;
        font-size: 1em;
    }

    .button_generic:active {
        color: #192d4f;
        transition: 0.1s;
        font-size: 0.9em;
    }

}