@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

body{
    height: 100vh;
    margin: 0;
    font-family: 'Montserrat', arial;
    background: white;
}

ul{
    list-style: none;
    list-style-top: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #000000;
}
img {width: 100%;}

.lang-list{
    display:flex;
    justify-content: space-between;
    padding: 2em;
}
.content-container-1{
    display:flex;
    justify-content: space-between;
    padding: 2em;
}
.nav-container{
    background: #C1DBDB;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 2em;
}
main{
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.logo{
    color: #003D3D;
    font-weight: bold;
}

.nav-list{
    display:flex;
}

.nav-a {
    display: block;
    padding: 0 1em;
 }

.social{
    display:none;
}

.intro{
    background:#C1DBDB;
    color: #000000;
    display: grid;
    text-align: center;
    padding: 4em;
}

@media only screen and (min-width: 750px) {
    .nav-container{
        display:grid;
        grid-template-columns: 66% auto;
    }
    .social{
        display:unset;
    }
.social-list{
    display: flex;
    justify-content: space-between;
    width: 7em;
    padding: 2em 4em 2em 2em;
    float: right;
}
.social-img{
    width: 20px;
}
}
@media only screen and (min-width: 1050px){
    .nav-container{
        background: unset;
    }
    ul{
        list-style: none;
        list-style-top: none;
        margin: 0;
        padding: 0;
    }
    header{
        background: #ADC4C4;
        padding: 2em 2em 2em 4em;
    }
    .social-list{
        display: flex;
        justify-content: space-between;
        width: 7em;
        padding: 2em 4em 2em 2em;
        float: right;
    }
    #social-img{
        width: 20px;
    }
}